{{ define "main" }}
{{ partial "diagonal-header.html" (dict "context" . "pageTitle" .Params.title) }}
<section class="section">
    <div>
        <a class="btn btn-secondary my-2 ml-5" href="/projects">&larr; Go back to Project Showcase</a>
    </div>

    <div class="container">
        {{ if .Params.image }}
        <img class="single-project-img" src="{{ .Params.image }}">
        {{ end }}

        {{ if .Params.video }}
        <a href="#play-blog-video" data-toggle="modal" data-target="#play-blog-video" style="z-index:100">
        <section class="section blog-video">
        </section>
        </a>
        <div id="play-blog-video" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="embed-responsive embed-responsive-16by9">
                            <div id="videoLink" style="display: none">https://youtu.be/{{.Params.video}}</div>
                            <div id="infoVideoPlayer"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>

    <div class="container" >
        <div class="row">
            <div class="card no-background">
                <div class="card-body">
                        <h1 class="card-title">{{ .Params.title }}</h1>  
                        <h3 style="font-size:1em;color:#787878;">
                            Created by: 
                            {{ range $index, $name := .Params.authors }}
                                {{- "" -}}    
                                {{ if ne $index 0 }}
                                    {{- "" -}}{{ "," }}
                                {{ end }}
                                {{ $name }}{{- "" -}}
                            {{ end }}
                        </h3>    
                           
                    <div class="card-text blog-text"> 
                        {{ .Content }} 
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
