{{define "extra-js"}}
<!-- lightbox stuff below  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bs5-lightbox/1.8.3/index.bundle.min.js" integrity="sha512-wOwwlvSeaATXscQHfDsAUnt3cBBvrKkyf7lI+k/88X6x/fxtc678fTdKRNcxZxtRdpzYFiIqqW5uIRUiPlZJlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{end}}

{{ define "main" }}
{{ partial "diagonal-header.html" (dict "context" . "pageTitle" .Params.title) }}
<section class="section">
    <div>
        <a class="btn btn-secondary my-2 ml-5" href="/projects">&larr; Go back to Project Showcase</a>
    </div>

    <div class="container">
        {{ if .Params.image }}
        <span>
            <a href="{{ .Params.image }}" data-toggle="lightbox">
                <img class="single-project-img rounded" src="{{ .Params.image }}" srcset="">
            </a>
        </span>
        {{ end }}

        {{ if .Params.video }}
        <a href="#play-blog-video" data-toggle="modal" data-target="#play-blog-video" style="z-index:100">
        <section class="section blog-video">
        </section>
        </a>
        <div id="play-blog-video" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="embed-responsive embed-responsive-16by9">
                            <div id="videoLink" style="display: none">https://youtu.be/{{.Params.video}}</div>
                            <div id="infoVideoPlayer"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>

    <div class="container" >
        <div class="row">
            <div class="card no-background">
                <div class="card-body">
                    <h1 class="card-title">{{ .Params.title }}</h1> 
                    {{ if .Params.authors }} 
                    <h3 style="font-size:1em;color:#787878;">
                        Created by: 
                        {{ range $index, $name := .Params.authors }}
                            {{- "" -}}    
                            {{ if ne $index 0 }}
                                {{- "" -}}{{ "," }}
                            {{ end }}
                            {{ $name }}{{- "" -}}
                        {{ end }}
                    </h3>  
                    {{ end }}  
                           
                    <div class="card-text blog-text"> 
                        {{ .Content }} 
                    </div>

                    {{ if .Params.link }}
                    <a class="btn btn-secondary my-4" href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">View Project Code</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
