
$theme-colors: (
  "primary": #d14b3b,
  "primary-transparent":  #d14b3b80, 
  "secondary":  #ffde59, 
  "secondary-transparent": #ffde5920, 
  "dark":  #d14b3b,
  "success": #ff914c,
  "success-transparent": #ff914c40
);


@import "bootstrap-4.0.0/scss/bootstrap";

html {
    scroll-behavior: smooth;
}

nav {
    font-size: 1.1em;

    .navbar-brand {
        font-size: 1.3em;
    }  
}

body {
	background: #ffffff;
    margin: 0;
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
    --header-font: "Encode Sans Semi Condensed", sans-serif;
    --secondary-font: 'Raleway', sans-serif; 
}

.pretty-header {
    --bg: var(--dark);
    --color: var(--secondary);
    background: var(--dark);
    height: 65vh;
    min-height: 600px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: -2vh;

    -webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);

    .container {
        margin-top: -5%;

        .row {
            justify-content: center;
            align-items: center;
        }
    }


	h1 {
		font-family: var(--header-font);
		font-size: 7em;
		text-transform: uppercase;
		color: var(--color);
        
		span:nth-child(1) {
			color: var(--bg);
			-webkit-text-fill-color: var(--bg);
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: var(--color);
        }
    }

    .dates {
        color: white;
        font-family: var(--secondary-font); 
        font-size: 3em ;
    }

    
    .dropdown-menu {
        min-width: 92%;
        text-align: center;
        background-color:var(--secondary)
    }

    .btn {
        font-size: 2em;
        font-family: var(--secondary-font);    
        margin-top: 50px;
        color: white;
        min-width: 100%;

        &.btn-secondary {
            color: var(--primary)
        }
    }
    
    @media (max-width: 992px) { 
        min-height: 700px;

        .dropdown-menu {
            min-width: 96%;
        }

        .container {
            margin-top: -15vw;
        }

        .logo-name {
            .break {
                display:block;
            }
        }

        .row:last-of-type {
            padding-top: 0px;
        }

        .btn {
            margin-top: 30px;
        }

        .dates {
            font-size: 2.5em;
        }
    }
    
    @media (max-width: 768px) {
        h1 {
            font-size: 14vw;
        }

        .logo-name {
            text-align: center;
            padding-left: 0;
        }

        .dates {
            font-size: 5vw;
        }

        .btn {
            font-size: 4vw;
            width: 65%;

            &:last-of-type {
                margin-top: 20px;
            }
        }
    }
}

.dates {
    .short-dates { 
        display: none;
    }

     @media (max-width: 992px) { 
        .long-dates {
            display: none;
        }
        .short-dates { 
            display: block;
        }
    }
}

.footer {
    // background-color: var(--success);
    background-color: var(--success-transparent);;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    a {
        color: var(--primary);
    }

    .is-large {
        font-size: 3em;
        margin-right: 5px;
        margin-left: 5px;
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
    }
}


.diagonal-header {
    height: 120px;
    width: 100%;
    font-family: var(--header-font);

    .mainheader {
        position: relative;
        height: 100%;
        background-color: var(--primary);
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
        clip-path: polygon(0 0, 0 100%, 100% 0%, 100% 0);

        color: var(--secondary);
        padding-left: 30px;
        font-size: 2.5em;

        text-decoration: var(--secondary) wavy underline;
        text-underline-offset: 20px;
        text-decoration-thickness: 3px;

    }

    .subheader {
        position: relative;
        z-index: -1;
        height: 100%;
        text-align: right;
        margin-top: -120px;
        
        background-color: var(--success-transparent);
        -webkit-clip-path: polygon(0 0, 0 10%, 100% 100%, 100% 0);
        clip-path: polygon(0 0, 0 0%, 100% 100%, 100% 0);

        padding-right: 30px;
        padding-top: 40px;
        font-size: 1.5em;
        color: var(--primary);
    }
}


.section {
    padding-bottom: 2vw;

    .container {
        .row {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: center;


            padding-bottom: 20px;
            &:last-of-type {
                padding-bottom: 0px; 
            }

            &.full-image {
                display: block;
                max-height: 300px;/*set an height */
                overflow: hidden;/* crops/cut off */

                img {
                    object-fit: cover;
                    vertical-align:middle;
                }
            }
        }
    }

    .form-group {
        padding-bottom: 0px;
    }

    &.single-item {
        &:first-of-type {
            padding-top: 40px;
        }

            
        &:last-of-type {
            padding-bottom: 100px; 
        }
    }
}


.diagonal-section {
    height: 50vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
        font-size: 1.25em;
    }
    
    .iconify {
        width: 100%;
        font-size: 20em;
    }

    &:nth-child(even) {
        height: 60vh;
        background-color: var(--success-transparent);
        -webkit-clip-path: polygon(0 0, 0 85%, 100% 100%, 100% 15%);
        clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 15%);

        .iconify {
            padding-top: 50px;
        }
    }

    &:first-child {
        margin-top: 0px;
        background-color:green;
    }

    .right-align {
        text-align: right;
    }
    
    .row {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 992px) {
        height: 40vh;
        min-height: 400px;

        &:nth-child(even) {
            height: 50vh;
        }

        .iconify {
            display: none;
        }
    }
}


.image-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
            
    img {
        margin: 5px;
        width: 20%;

        &:first-of-type {
            margin-left: 0px;
        }

        &:last-of-type {
            margin-right: 0px;
        }
    } 

}


form {
    padding-top: 30px;

    .form-control {
        border: 1px solid var(--secondary);
        background-color: var(--secondary-transparent);
    }
}


h2 {
    color: var(--primary);
    font-family: var(--header-font);
    font-size: 2em;
    text-transform: uppercase;

    text-decoration: var(--primary-transparent) wavy underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    padding-bottom: 40px;
}

h3 {
    color: var(--primary);
    font-family: var(--header-font);
    font-size: 1.8em;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 0px;
}

.card { 
    height: 100%;
    border: 0px;
    background-color: var(--secondary-transparent);   

    &.with-header {
        border: 0px solid var(--secondary);
        background-color: var(--secondary-transparent);   
        
        .card-header {
            background-color: var(--secondary);
            border-bottom: 1px solid var(--secondary);
            font-family: var(--header-font);
            color: var(--primary);
            font-size: 1.7em;
            height: 80px;
            -webkit-clip-path: polygon(0 0, 0 100%, 100% 30%, 100% 0%);
            clip-path: polygon(0 0, 0 100%, 100% 30%, 100% 0%);
        }

        .card-body {
            display: flex;
            flex-direction: column;
            
        }

        .card-text {
            margin-top: 5px;
            margin-bottom: 0px;
        }
        
        .card-text:last-of-type {
            margin-top: auto;
            text-align: center;

            .iconify {
                font-size: 52px;
                padding-left: 5px;
            }
        }

        .card-img-top {
            margin-top: -80px;
        }
    }

    &.with-footer {
    
        .card-footer {
            background-color: var(--secondary);
            border-bottom: 1px solid var(--secondary);
            font-family: var(--header-font);
            color: var(--primary);
            font-size: 1.2em;
            height: 80px;
            padding-top: 40px;
            -webkit-clip-path: polygon(0 0%, 0 100%, 100% 100%, 100% 70%);
            clip-path: polygon(0 70%, 0 100%, 100% 100%, 100% 0%);
            text-align: right;
        }
        
        .card-img-top {
            margin-bottom: -80px;
        }
    }
    
    .card-img-top {
        object-fit: cover;
        width: 100%;

        &.large-image {
            height: 400px;
        }

        &.med-image {
            height: 200px;
        }
    }
    
    h3 {
        padding-top: 0px;
    }
    
    .card-title {
        font-size: 1.5em;
        margin-bottom: 0px;
    }

    .text-muted {
        color: black !important;
    }

    &.highlight-card {
        border: 0px;
        background-color: var(--success-transparent);
        padding: 30px 30px 10px 30px;

        &.light {
            background-color: var(--secondary-transparent);
        }
        
        .card-body {
            padding-left: 0px;
            padding-right: 0px;
        }

        .card-title {
            font-size: 2em;
        }
    }

    &.no-background {
        background-color: white;   
    }

}


.btn {
    font-family: var(--header-font);
    font-size: 1.3em;
}


.spaced-col {
    @media (max-width: 992px) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.expandable-card {
    background-color: white;
    border: 1px solid var(--secondary);
    border-bottom: 1px solid var(--primary-transparent); 

    .card-header {
        background-color: var(--secondary);
        border-bottom: 1px solid var(--primary-transparent);

    }

    .btn {
        width: 100%; 


        &[data-toggle="collapse"] {
            .arrow-expand {
                display: none;
            }

            .arrow-less {
                display: inline-block;
            }

            &.collapsed {
                .arrow-expand {
                    display: inline-block;
                }

                .arrow-less {
                    display: none;
                }
            }
        }

        .btn-title {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            color: var(--primary);

            .iconify {
                font-size: 1.5em;
            }
         
        }
    }
}
