
$theme-colors: (
  "primary": #d14b3b,
  "secondary": #ffde59, 
  "dark": #d14b3b,
  "success": #ff914c,
  "light": #ff0000,
  "gray": #ffff00,
);


@import "bootstrap-4.0.0/scss/bootstrap";

body {
	background: #ffffff;
    margin: 0;
    --header-font: "Encode Sans Semi Condensed", sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.pretty-header {
    --bg: var(--dark);
    --color: var(--secondary);
    position: relative;
    background: var(--bg);
    height: 93vh;
    background-image: url("/img/gallery/campus-image.jpg");
    // background-image: url("/img/logos/ignite.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-bottom: 25px;


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    // @media (orientation: portrait) and (max-width: 992px) {
    //     max-height: 50vh;
    // }

    h3 {
        color: white;
    }

    .row {
        justify-content: center;
        align-items: center;
    }

    .logo-name {
        text-align: center;

        @media (max-width: 768px) {
            text-align: center;
            padding-left: 0;
        }

        .break {
            display:none;

            @media (max-width: 992px) {
                display:block;
            }
        }
    }

    .brand-logo {
        padding-bottom: 40px;
        padding-left: 40px;

        @media (max-width: 992px) {
            padding: 0px;
        }

        @media (max-width: 768px) {
           padding-left: 0px;
           padding-bottom: 20px;
           width: 60%;
        }
    }

	h1 {
		font-family: var(--header-font);
		font-size: 6em;
		text-transform: uppercase;
		color: var(--color);
		word-break: break-word;

		span:nth-child(1) {
			color: var(--bg);
			-webkit-text-fill-color: var(--bg);
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: var(--color);
        }

        @media (max-width: 1200px) {
            font-size: 5em;
        }
        
        @media (max-width: 768px) {
            font-size: 9vw;
        }

    }
    
    .logo-subtitle {
        color: #ffffff;
        font-size: 1.5vw;
        padding-bottom: 2vw;
        @media (max-width: 992px) {
            display: none;
        }

    }

    .dates {
        color: #ffffff;
        font-family: var(--secondary-font); 
        font-size: 2em ;

        #short-dates { 
            display: none;
        }
        
        @media (max-width: 992px) {
            #long-dates {
                display: none;
            }
            #short-dates { 
                display: block;
            }
        }

        @media (max-width: 576px) {
            font-size: 6vw;
        }
    }

    .btn {
        font-size: 1.5em;
        font-family: var(--secondary-font);    
        margin-top: 50px;
        color: white;
        

        @media (max-width: 768px) {
           display: none;
        }
    }
}

.footer {
    width: 100%;
    background-color: var(--secondary);

    .is-large {
        font-size: 3rem;
    }

    h5 {
        padding-top: 10px;
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
    }
}

#sponsors {
    .card {
        border: 0px solid;
    }
}

.card { 
    height: 100%;
    border: 1px solid var(--secondary);

    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
}

.card-header {
  background-color: rgba(255, 222, 89, 0.2);
  border-bottom: 1px solid var(--secondary);
}

.section {
    padding-top: 2vw;
    padding-bottom: 2vw;

    .row {
        padding-bottom: 20px;
    }
}

h3 {
    font-family: var(--header-font);
    font-size: 2em;
    text-transform: uppercase;
    padding-left: 15px;
}

.header {
    background-color: rgba(0,0,0,0)
}