
$theme-colors: (
  "primary": #d14b3b,
  "primary-transparent":  #d14b3b80, 
  "secondary":  #ffde59, 
  "secondary-transparent":    #ff914c40, 
  "dark":  #d14b3b,
  "success": #ff914c,
);


@import "bootstrap-4.0.0/scss/bootstrap";

html {
    scroll-behavior: smooth;
}

body {
	background: #ffffff;
    margin: 0;
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
    --header-font: "Encode Sans Semi Condensed", sans-serif;
    --secondary-font: 'Raleway', sans-serif; 
}

.pretty-header {
    --bg: var(--dark);
    --color: var(--secondary);
    background: var(--dark);
    height: 60vh;
    min-height: 600px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: -2vh;

    -webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);

    .container {
        margin-top: -5%;

        .row {
            justify-content: center;
            align-items: center;
        }
    }

	h1 {
		font-family: var(--header-font);
		font-size: 7em;
		text-transform: uppercase;
		color: var(--color);
        
		span:nth-child(1) {
			color: var(--bg);
			-webkit-text-fill-color: var(--bg);
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: var(--color);
        }
    }

    .dates {
        color: white;
        font-family: var(--secondary-font); 
        font-size: 3em ;

        #short-dates { 
            display: none;
        }
    }

    .btn {
        font-size: 2em;
        font-family: var(--secondary-font);    
        margin-top: 50px;
        color: white;
        width: 100%;

        &.btn-secondary {
            color: var(--primary)
        }
    }

    
    @media (max-width: 992px) { 
        h1 { 
            font-size: 6.5em;
        }

        .container {
            margin-top: -12vw;
        }

        .logo-name {
            .break {
                display:block;
            }
        }

        .row:last-of-type {
            padding-top: 0px;
        }

        .btn {
            margin-top: 30px;
        }

        .dates {
            font-size: 2.5em;
            #long-dates {
                display: none;
            }
            #short-dates { 
                display: block;
            }
        }
    }
    
    @media (max-width: 768px) {
        h1 { 
            font-size: 14vw;
        }
        
        .logo-name {
            text-align: center;
            padding-left: 0;
        }

        .dates {
            font-size: 5vw;
        }

        .btn {
            font-size: 4vw;
            width: 65%;

            &:last-of-type {
                margin-top: 20px;
            }
        }
    }
}

.footer {
    // background-color: var(--success);
    background-color: var(--secondary-transparent);;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    a {
        color: var(--primary);
    }

    .is-large {
        font-size: 3em;
        margin-right: 5px;
        margin-left: 5px;
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
    }
}


.section {
    padding-bottom: 2vw;
    .container {
        .row {
            padding-bottom: 20px;
            &:last-of-type {
                padding-bottom: 0px; 
            }
        }
    }

    .form-group {
        padding-bottom: 0px;
    }

    &:last-of-type {
        padding-bottom: 100px; 
    }

    &.full-page {
        padding-top: 40px;
    }
}


.diagonal-section {
    height: 50vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
        font-size: 1.25em;
    }
    
    .iconify {
        width: 100%;
        font-size: 20em;
    }

    &:nth-child(even) {
        height: 60vh;
        background-color: var(--secondary-transparent);
        -webkit-clip-path: polygon(0 0, 0 85%, 100% 100%, 100% 15%);
        clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 15%);

        .iconify {
            padding-top: 50px;
        }
    }

    &:first-child {
        margin-top: 0px;
        background-color:green;
    }

    .right-align {
        text-align: right;
    }
    
    .row {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 992px) {
        height: 40vh;
        min-height: 400px;

        &:nth-child(even) {
            height: 50vh;
        }

        .iconify {
            display: none;
        }
    }
}


.image-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
            
    img {
        margin: 5px;
        width: 20%;

        &:first-of-type {
            margin-left: 0px;
        }

        &:last-of-type {
            margin-right: 0px;
        }
    } 

}


form {
    padding-top: 30px;

    .form-control {
        border: 1px solid var(--secondary);
    }
}


h2 {
    color: var(--primary);
    font-family: var(--header-font);
    font-size: 2em;
    text-transform: uppercase;

    text-decoration: var(--primary-transparent) wavy underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    padding-bottom: 40px;
}

h3 {
    color: var(--primary);
    font-family: var(--header-font);
    font-size: 1.8em;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 0px;
}

.single-item {
    .card { 
        width: 100%;
    }
}

.card { 
    height: 100%;
    border: 1px solid var(--secondary);

    .card-img-top {
        width: 100%;
        height: 13vw;
        object-fit: cover;
    }

    .card-header {
        background-color: rgba(255, 222, 89, 0.2);
        border-bottom: 1px solid var(--secondary);
    }

    &.highlight-card {
        height: 100%;
        background-color: var(--secondary-transparent);
        padding: 30px 30px 10px 30px;
    }
}



.spaced-col {
    @media (max-width: 992px) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}


.title {
    display: block;
    width: 100%;
}

.subtitle {
    display: block;
}

.faq-heading {
    width: 100%; 

    .faq-heading-title {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;

        .iconify {
            font-size: 1.5em;
        }

        
        
        color: black;
        
    }

    &[data-toggle="collapse"] {
        .arrow-expand {
            display: none;
        }

        .arrow-less {
            display: inline-block;
        }

        &.collapsed {
            .arrow-expand {
                display: inline-block;
            }

            .arrow-less {
                display: none;
            }
        }
    }
}
