

{{ define "main" }}
{{ partial "diagonal-header.html" (dict "context" . "pageTitle" "Blog") }}
<section class="section">
    {{ if .Params.image }}
        <img class="card-img-top large-image blog-hero-image" src="{{ .Params.image }}">
    {{ end }}
    <div class="container">
        <div class="row">
            <div class="card no-background">
                <div class="card-body">
                        <h1 class="card-title">{{ .Params.title }}</h1>  <a class="btn btn-secondary my-2" href="/blog">&larr; Go back to blog</a>
                            <div id="article-info" class="card"> 
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                        <p class="card-text">
                                            <i class="bi bi-calendar2-week-fill"></i> <time>{{ .Params.date.Format "Monday, Jan 2, 2006" }}</time>
                                        </p>
                                        <p class="card-text">
                                        {{ if gt (math.Round (div .WordCount 238.0)) 1 }} {{/*Show if article is longer than 1 min read*/}}
                                        <i class="bi bi-stopwatch-fill"></i><em>~{{math.Round (div .WordCount 238.0)}} {{/*238 is the average words/min read*/}} Minute Read</em>
                                        {{ end }}
                                        {{if .Params.tags }}
                                        <br>
                                        <em><i class="bi bi-tags-fill"></i></em>
                                            
                                            {{- range .Params.tags }}
                                                {{- with $.Site.GetPage "taxonomyTerm" (printf "tags/%s" (urlize .)) }}
                                                        <a href="{{ .Permalink }}">{{ .Params.Title }}</a>,

                                                {{ end }}
                                            {{ end }}</p>
                                        {{ end }}
                                        {{ if not .Params.excludeTOC }}
                                        <h3>Table of Contents</h3>
                                            {{ .TableOfContents}}
                                        {{end}}
                                        </p>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            


                                            {{ if .Params.authors }}

                                            {{- range .Params.authors }}
                                            {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                                            <h4>Author information</h4>
                                            <div id="author-information">
                                                <a href="{{ .Permalink }}" target="_blank" rel="noopener noreferrer">
                                                {{if not .Params.avatar }}
                                                <img width="100rem" src="https://api.dicebear.com/5.0/identicon/svg?seed={{ .Params.name }}" alt="">
                                                {{ else }}
                                                <img width="100rem" src="{{.Params.avatar}}" alt="">
                                                {{end}}
                                                </a>
                                                <h6 class="card-title"><a href="{{ .Permalink }}" target="_blank" rel="noopener noreferrer"><br>{{ .Params.name }}</a></h6>
                                                    <div id="author-icons">
                                                        {{ if .Params.email }}
                                                        <a href="mailto:{{.Params.email }}" ><i class="bi bi-envelope-fill"></i></a>
                                                        {{ end }}
                                                        {{ if .Params.github }}
                                                        <a href="https://github.com/{{.Params.github }}" target="_blank"><i class="bi bi-github"></i></a>
                                                        {{ end }}
                                                        {{ if .Params.linkedin }}
                                                        <a href="https://linkedin.com/in/{{.Params.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>
                                                        {{ end }}
                                                        {{ if .Params.website }}
                                                        <a href="{{ .Params.website }}" target="_blank"><i class="bi bi-globe"></i></a>
                                                        {{ end }}
                                                    </div>
                                                    <div class="text-primary" style="max-width:40ch;">
                                                    {{  .Content }}
                                                    </div>
                                                
                                                
                                            </div>
                                            {{ end }}
                                            {{ end }}
                                        {{ end }}
                                        </div>
                                        
                                    </div>

                                </div>
                        </div>
                    <hr>
                    <p class="card-text"> {{ .Content }} </p>
                    <div class="card">
                        <div class="share-icons">
                            <h2>Share the article</h2>

                            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
                            <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-pinterest" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z"/>
                              </svg></a>
                            <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    hljs.addPlugin(new CopyButtonPlugin());
    hljs.highlightAll();
  </script>
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true }, '.language-mermaid');
  </script>
{{end}}
