{{ define "main"}}
{{ partial "diagonal-header.html" (dict "context" . "pageTitle" .Params.name) }}

<nav aria-label="breadcrumb" class="mt-4 p-2" style="max-width:40%">
    <ol class="breadcrumb" style="background-color:transparent;">
        <li class="breadcrumb-item text-primary" aria-current="page"><a href="/authors">Authors</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{.Params.name}}</li>
    </ol>
</nav>
<section class="section">
<div class="container text-center">
    <div class="row">
        <div style="margin: 0 auto;">
        {{if not .Params.avatar }}
        <img class="m-5" width="70%" style="border-radius:50%;margin: 0 auto;" src="https://api.dicebear.com/5.0/identicon/svg?seed={{ .Params.name }}" alt="">
        {{ else }}
        <img class="m-5" width="70%" style="border-radius:50%;margin: 0 auto;" src="{{.Params.avatar}}" alt="">
        {{end}}
        </div>
<div class="card p-5 mb-5 col-md-12">


<h2>Bio</h2>
<p class="card-text">
    {{ .Content }}
</p>

<div id="author-icons">
    {{ if .Params.email }}
    <a href="mailto:{{.Params.email }}" ><i class="bi bi-envelope-fill"></i></a>
    {{ end }}
    {{ if .Params.github }}
    <a href="https://github.com/{{.Params.github }}" target="_blank"><i class="bi bi-github"></i></a>
    {{ end }}
    {{ if .Params.linkedin }}
    <a href="https://linkedin.com/in/{{.Params.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>
    {{ end }}
    {{ if .Params.website }}
    <a href="{{ .Params.website }}" target="_blank"><i class="bi bi-globe"></i></a>
    {{ end }}
    </div>
    </div>
    </div>
</div>

            <div class="container">
                <div class="row">
                <h2 class="text-center">Posts</h2>

                {{ partial "blog-feed.html" . }}
                

</div>
</section>

{{end}}