<!DOCTYPE html>
<html style="overflow-x:hidden;">

<head>
  <meta charset="utf-8" />
  <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <meta property="og:title" content="{{ block "og-title" . }} Schulich Ignite {{ end }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ block "og-url" .}}http://schulichignite.com{{end}}" />
  <meta property="og:image" content="{{ block "og-img" .}}/img/opengraph_logo-min.jpg{{end}}"/>
  <meta name="Description" content="{{ block "desc" .}}Schulich Ignite is an 8 week program where you learn to program. These weekly sessions are a fun way to learn the fundamentals of coding with lots of hands-on experience. 
  You are partnered with a mentor who can help you out with your learning experience (and give you general advice as a university student as well). Sessions run for 1 hour and 30 minutes, and you can choose to attend either the Wednesday evening sessions or the Saturday morning session.
  No prior coding experience necessary! {{end}}">
  <meta property="og:description" content="{{ block "og-desc" .}}Schulich Ignite is an 8 week program where you learn to program. These weekly sessions are a fun way to learn the fundamentals of coding with lots of hands-on experience. 
  You are partnered with a mentor who can help you out with your learning experience (and give you general advice as a university student as well). Sessions run for 1 hour and 30 minutes, and you can choose to attend either the Wednesday evening sessions or the Saturday morning session.
  No prior coding experience necessary! {{end}}" />

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="/js/accordion.js"></script>
  <script src="/js/nav.js"></script>
  <link href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/vs2015.min.css" integrity="sha512-mtXspRdOWHCYp+f4c7CkWGYPPRAhq9X+xCvJMUBVAb6pqA4U8pxhT3RWT3LP3bKbiolYL2CkL1bSKZZO4eeTew==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha512-bgHRAiTjGrzHzLyKOnpFvaEpGzJet3z4tZnXGjpsCcqOnAH6VGUx9frc5bcIhKTVLEiCO6vEhNAgx5jtLUYrfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!-- This website design is inspired by https://codingcoach.io/ -->
  <style>@media only screen and (max-width: 768px) {
    .singup-button{
      font-size: 4vw;
    }
    .pretty-header {
    min-height: 900px;}
  }
  @media (max-width: 350px){
  .pretty-header {
    min-height: 200px;}
  }
</style>
</head>

{{ partial "header.html" . }}

<body>
  <!-- Code that all your templates share, like a header -->
  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}
</body>

{{ partial "footer.html" . }}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</html>