{{ define "main" }}
    {{ if  and (.Params.title) (.Params.date) }}
        <div class="column">
            <div class="card event">
                <div class="card-image">
                    <figure class="image is-4by3">
                        {{ if  .Params.image }}
                        <img src="{{ .Params.image }}" width="640px" height="480px">
                        {{ else }}
                        <img src="/img/ignite-logo.svg" width="640px" height="480px">
                        {{ end }}
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ .Params.title }}</p>
                            <p class="subtitle is-6"><time datetime="2016-1-1">{{ .Params.date.Format "January 1, 2006 15:04 MST" }}</time></p>
                        </div>
                    </div>
                    <div class="content">
                        <p>{{ .Content }}</p>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
{{end}}