{{ define "main" }}

{{ partial "diagonal-header.html" (dict "context" . "pageTitle" "Definitions") }}
<section class="section">
    <div class="container">
        <div class="row">
            {{ range sort .Data.Pages ".Params.name" }}
            <a class="card col-md-10 m-2 p-4" href="{{.Permalink}}" target="_blank" rel="noopener noreferrer">
                {{ if .Params.accronym }}
                    <h3>{{.Params.name}} ({{.Params.accronym}})</h3>
                {{else}}
                    <h3>{{.Params.name}}</h3>
                {{end}}
                    <p>{{.Summary}}</p>
            </a>
            {{ end }}
            </div>
        </div>
    </div>
</section>
{{end}}