{{ define "main" }}

    <section class="section full-page" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">{{ .Params.title }}</h2>
                    <h4 class="subtitle">{{ .Params.subtitle }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                      {{ .Summary }}
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="section " id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">Meet our Team</h2>
                </div>
            </div>
            <div class="row">
                {{ range where .Data.Pages ".Params.highlight" "==" true}}
                <div class="col-lg-4 spaced-col">
                    <div class="card highlight-card">
                        <img class="card-img-top" src="{{ .Params.image | absURL }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ .Params.name }}</h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    {{ .Params.role }}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3>Other Contributors</h3>
                </div>
            </div>
            <div class="row">
                {{ range where .Data.Pages ".Params.highlight" "!=" true}}
                <div class="col-lg-3 spaced-col">
                    <div class="card">
                        <img class="card-img-top" src="{{ .Params.image | absURL }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ .Params.name }}</h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    {{ .Params.role }}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}