<form action="https://formspree.io/f/{{ .Site.Params.email }}" method="POST">
    <div class="form-group row">
        <label for="nameField" class="col-form-label col-md-2">Name</label>
        <div class="col-md-10">
            <input id="nameField" class="form-control" type="text" placeholder="Enter your name here" required="">
        </div>
    </div>

    <div class="form-group row">
        <label for="emailField"  class="col-form-label col-md-2">Email address</label>
        <div class="col-md-10">
            <input type="email" class="form-control" id="emailField" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
    </div>

    <div class="form-group row">
        <label for="subjectField" class="col-form-label col-md-2">Subject</label>
        <div class="col-md-10">
            <select id="subjectField" class="form-control" required="">
                <option>Lecture Question</option>
                <option>Question about Organization</option>
                <option>Other</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="messageField" class="col-form-label col-md-12">Message</label>
        <div class="col-md-12">
            <textarea id="messageField" class="form-control" rows="4"  placeholder="Enter your message here" required=""></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
