<div class="diagonal-header">
    <div class="mainheader">
        {{ if .context.Params.Number }}
            Session {{ .context.Params.Number }}
        {{ else }}
        {{ .pageTitle }}
        {{ end }}
    </div>
    {{ if  (.context.Params.date) }}
    <div class="subheader dates d-none d-sm-block">
        <span class="long-dates">

            {{ .context.Params.date.Format "Monday, Jan 2, 2006" }}
        </span>
        <span class="short-dates">
            {{ .context.Params.date.Format "01/02/06" }}
        </span>
    </div>
    {{ end }}
</div>