<footer class="footer sticky-bottom" style="background-color: #ffcdae;">
    <div class="container">
        <div class="row">
            <a href="{{ .Site.Params.Links.instagram }}" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram is-large"></i>
            </a>
            <a href="{{ .Site.Params.Links.youtube }}" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-youtube is-large"></i>
            </a>

            <a href="{{ .Site.Params.Links.tiktok }}" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-tiktok is-large mt-3" viewBox="0 0 16 16">
                    <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
                </svg>
            </a>

            <a href="{{ .Site.Params.Links.facebook }}" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook is-large"></i>
            </a>

            <a href="{{ .Site.Params.Links.linkedin }}" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-linkedin is-large"></i>
            </a>

            <a href="{{ .Site.Params.Links.discord }}" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-discord is-large"></i>
            </a>
        </div>
        <p>Copyright @ Schulich Ignite</p>
    </div>
</footer>
