<footer class="footer sticky-bottom" style="position: fixed;background-color: #ffcdae;">
    <div class="container">
        <div class="row">
            <a href="{{ .Site.Params.Links.instagram }}" target="_blank" rel="noopener noreferrer">
                <span class="iconify is-large" data-icon="ant-design:instagram-filled" data-inline="false"></span>
            </a>
            <a href="{{ .Site.Params.Links.youtube }}" target="_blank" rel="noopener noreferrer">
                <span class="iconify is-large" data-icon="ant-design:youtube-filled" data-inline="false"></span>
            </a>

            <a href="{{ .Site.Params.Links.tiktok }}" target="_blank" rel="noopener noreferrer">
                <span class="iconify is-large" data-icon="ion:logo-tiktok" data-inline="false"></span>
            </a>

            <a href="{{ .Site.Params.Links.facebook }}" target="_blank" rel="noopener noreferrer">
                <span class="iconify is-large" data-icon="ant-design:facebook-filled" data-inline="false"></span>
            </a>

            <a href="{{ .Site.Params.Links.linkedin }}" target="_blank" rel="noopener noreferrer">
                <span class="iconify is-large" data-icon="ant-design:linkedin-filled" data-inline="false"></span>
            </a>

            <a href="{{ .Site.Params.Links.discord }}" target="_blank" rel="noopener noreferrer">
                <span class="iconify is-large" data-icon="ri:discord-fill" data-inline="false"></span>
            </a>
        </div>
    </div>
</footer>
