<footer class="footer">
    <div class="container">
        <div class="row">
            <h5>Check out our social media</h5>
        </div>
        <div class="row">
            <a href="{{ .Site.Params.Links.instagram }}" target="_blank">
                <span class="iconify is-large" data-icon="ant-design:instagram-filled" data-inline="false"></span>
            </a>
            <a href="{{ .Site.Params.Links.youtube }}" target="_blank">
                <span class="iconify is-large" data-icon="ant-design:youtube-filled" data-inline="false"></span>
            </a>

            <a href="{{ .Site.Params.Links.facebook }}" target="_blank">
                <span class="iconify is-large" data-icon="ant-design:facebook-filled" data-inline="false"></span>
            </a>

            <a href="{{ .Site.Params.Links.linkedin }}" target="_blank">
                <span class="iconify is-large" data-icon="ant-design:linkedin-filled" data-inline="false"></span>
            </a>

            <a href="{{ .Site.Params.Links.discord }}" target="_blank">
                <span class="iconify is-large" data-icon="ri:discord-fill" data-inline="false"></span>
            </a>
        </div>
    </div>
</footer>
