<div class="section" id="gallery">
    <div class="container pb-6">
        <p class="title is-2 has-text-centered">{{ .Params.title }}</p>
        <p class="subtitle is-5 has-text-centered">{{ .Summary }}</p>
    </div>
    <div class="gallery-container">
        {{ range (readDir "static/img/gallery/") }}
            {{ $path := printf "img/gallery/%s" .Name }}
            <div class="gallery-item">
                <img src="{{ $path }}" />
            </div>
        {{ end }}
    </div>
</div>
