<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if eq "events" .Type }}
      <!-- Events schema -->
      <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "{{ .Params.title }}",
        "startDate": "{{ .Params.date.Format "2006-11-07" }}",
        "endDate": "{{ .Params.date.Format "2006-11-07" }}",
        "about": "{{ .Content }}",
        {{ if .Params.image }}
        "image": "{{ .Params.image }}"
        {{ end }}
        }
      </script>
    {{ end }}

    {{ if eq "news" .Type }}
    <!-- News schema -->
    <script type="application/ld+json">
      {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "publisher":{
        "@type":"Organization",
        "name":"Schulich Ignite",
        "logo":"https://schulichignite.com/img/logos/ignite.svg"
      },
      "headline": "{{ .Params.title }}",
      "datePublished": "{{ .Params.date.Format "2006-11-07" }}",
      "articleBody": "{{ .Content }}",
      {{ if .Params.image }}
      "image": "{{ .Params.image }}"
      {{ end }}
      }
    </script>
  {{ end }}

  {{ if eq "sessions" .Type }}
  <!-- sessions schema -->
  <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Article",
    "author": "Shulich Ignite"
    "name": "{{ .Params.title }}",
    "dateCreated": "{{ .Params.date.Format "2006-11-07" }}",
    "text": "{{ .Content }}",
    {{ if .Params.image }}
    "image": "{{ .Params.image }}"
    {{ end }}
    }
  </script>
{{ end }}

  </head>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/img/logos/ignite.svg" width="40" height="60" alt="Schulich ignite logo"/>
    <span class="brand-name">Schulich Ignite</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/sessions">Sessions</a>
      </li>
      {{ if .Site.Params.signup }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Sign up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ .Site.Params.menteeSignup }}" target="_blank" rel="noopener noreferrer">
            To learn
          </a>
          <a class="dropdown-item" href="{{ .Site.Params.mentorSignup }}" target="_blank" rel="noopener noreferrer">
            To teach
          </a>
        </div>
      </li>
      {{ else }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Important links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ .Site.Params.ignitePoints }}" target="_blank" rel="noopener noreferrer">
            Ignite Points spreadsheet
          </a>
          <a class="dropdown-item" href="{{ .Site.Params.sparkDocs }}" target="_blank" rel="noopener noreferrer">
            Spark documentation
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ .Site.Params.submitBugBusters }}" target="_blank" rel="noopener noreferrer">
            Submit - Bug Busters
          </a>
          <a class="dropdown-item" href="{{ .Site.Params.submitPythonicLava }}" target="_blank" rel="noopener noreferrer">
            Submit - Pythonic Lava
          </a>
        </div>
      </li>
      {{end}}
      {{ $news := (where .Site.Pages.ByDate "Type" "news") }}
      {{ $numOfNews := len $news }}
      {{ if gt $numOfNews 1 }}
        <li class="nav-item">
          <a class="nav-link" href="/news">News</a>
        </li>
      {{ end }}
      {{ $events := (where .Site.Pages.ByDate "Type" "events") }}
      {{ $numOfEvents := len $events }}
      {{ if gt $numOfEvents 1}}
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
      {{ end }}
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>