<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{{absURL "/img/logos/ignite.svg"}}" width="40" height="60" alt="Schulich ignite logo"/>
    <span class="brand-name">Schulich Ignite</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" href="/sessions">Sessions</a> -->

      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Sessions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/beginner">Ignite Beginner</a>
          <a class="dropdown-item" href="/flare">Ignite Flare</a>
          <a class="dropdown-item" href="/scorch">Ignite Scorch</a>
        </div>
      </li>
      </li>
      {{ if eq "signup" .Site.Params.status}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Sign up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ .Site.Params.menteeSignup }}" target="_blank" rel="noopener noreferrer">
            To learn
          </a>
          <a class="dropdown-item" href="{{ .Site.Params.mentorSignup }}" target="_blank" rel="noopener noreferrer">
            To teach
          </a>
        </div>
      </li>
      {{ else if eq "recruiting" .Site.Params.status}}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.Params.emailListSignup }}" target="_blank" rel="noopener noreferrer">Mailing list</a>
          </li>
      {{ else }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Student links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ .Site.Params.ignitePoints }}" target="_blank" rel="noopener noreferrer">
            Ignite Points spreadsheet
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ .Site.Params.submitBugBusters }}" target="_blank" rel="noopener noreferrer">
            Submit - Bug Busters
          </a>
          <a class="dropdown-item" href="{{ .Site.Params.submitPythonicLava }}" target="_blank" rel="noopener noreferrer">
            Submit - Pythonic Lava
          </a>
          <a class="dropdown-item" href="{{ .Site.Params.submitFlare }}" target="_blank" rel="noopener noreferrer">
            Submit - Flare
          </a>
          <a class="dropdown-item" href="{{ .Site.Params.submitScorch }}" target="_blank" rel="noopener noreferrer">
            Submit - Scorch</a>
        </div>
      </li>
      {{end}}
      <li class="nav-item">
        <!-- <a class="nav-link" href="/sessions">Sessions</a> -->

      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Media
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/blog">Blog</a>
          <a class="dropdown-item" href="/language">Languages</a>
          <a class="dropdown-item" href="/definitions">Definitions</a>
        </div>
      </li>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/mission">
            Our Mission
          </a>
          <a class="dropdown-item" href="/team">
            Our Team
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>