
{{ range (where .Site.Pages.ByDate "Type" "projects").Reverse }}
    {{ if  (.Params.image) }}
    <div class="col-lg-4 spaced-col mb-4">
        <div class="card projects-card">
            <!-- TOOD: Make cards clickable, make them go.. somewhere? (open up a single) -->
            <!-- <a href="{{ .Permalink }}">
                <img class="card-img med-image" src="{{ .Params.image }}" alt="{{ .Params.title }}">
            </a> -->
            <div id="img-wrap">
                <img class="card-img med-image projects-img" src="{{ .Params.image }}" alt="{{ .Params.title }}">

                <div class="card-img-overlay projects-overlay">
                    <h3 class="card-project-title">{{ .Params.title }}</h3>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}

