<div class="columns">
{{ range where .Site.Pages.ByDate "Type" "sessions" }}
    {{ if .Params.ready }}
    <div class="column is-one-third">
        
        <article class="message">
            <div class="message-header">
                <a href="{{ ref . .File }}" class="sessionlink"><p>Session {{ .Params.number }}: {{ .Params.title }}</p></a>
            </div>
            <div class="message-body">
                <div class="tags has-addons level-item">
                    {{ if  (.Params.slides) }}

                    <a href="{{ .Params.slides }}" class="slidelink" target="_blank">
                        <span class="tag is-rounded is-dark">{{ .Params.date.Format "Mon Jan 2 15:04 MST" }}</span>
                        <span class="tag is-rounded is-primary">Download the slides</span>
                    </a>

                    {{ else }}

                    <span class="tag is-rounded is-dark">{{ .Params.date.Format "Mon Jan 2 15:04 MST" }}</span>

                    {{ end }}
                </div>
                <a href="{{ ref . .File }}" class="sessionlink">
                <p>{{ .Summary }}...
                    <a href="{{ ref . .File }}">Read more</a>
                </p>
                </a>
            </div>
          </article>
        </a>

    </div>
    {{ end }}
{{ end }}
</div>

