<div class="row">
{{ range (where .Site.Pages.ByDate "Type" "sessions").Reverse }}
    {{ if .Params.ready }}
    <div class="col-lg-4 spaced-col">
        <div class="card with-header">
            <div class="card-header">
                Session {{ .Params.number }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ .Params.title }}</h5>
                <p class="card-text">
                    <time>{{ .Params.date.Format "Monday, 01/02/2006" }}</time>
                </p>
                <p class="card-text">{{ .Summary }}...
                    <a href="{{ ref . .File }}">Read more</a>
                </p>
                <p class="card-text">
                {{ if  (.Params.slides) }}
                    <a href="{{ .Params.slides }}" class="btn btn-primary">Download the slides</a>
                {{ end }}
                </p>
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}
</div>