{{define "extra-js"}}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{{end}}
{{ define "main" }}
    <section class="section" id="sect_404">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-0">
                    <span class="iconify is-large" data-icon="emojione:fire" data-inline="false"></span>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <h1>Uh oh!</h1>
                    <h5>Sorry, the page you are looking for doesn't exist.</h5>
                    <h5><a href="{{absURL "/" }}"><span class="iconify" data-icon="eva:arrow-back-outline" data-inline="false"></span> Take me home!</a></h5>
                </div>
            </div>
        </div>
    </section>
{{ end }}