{{ define "main" }}

    <section class="hero is-dark is-medium">
        <div class="hero-body">
        <div class="container">
            <h1 class="title">

            <img src="/img/logos/ignite.svg" width="40" height="60"> Schulich Ignite
            </h1>
            <h2 class="subtitle">
                {{ .Params.tagline }}
            </h2>
        </div>
        </div>
    </section>

    <section class="section" id="dates">
        <h3 class="subtitle is-3">Sessions</h3>
        {{ partial "sessions-feed.html" .}}
    </section>
    
    {{ if .Site.Params.signup }}
    <section class="section" id="signup">
        <h3 class="subtitle is-3">Signup</h3>
        <p>Click the links below to sing-up for the program, or apply to become a mentor.</p>
    </br>
        <form>
            <button class="button is-primary is-light" formaction="{{ .Site.Params.menteeSignup }}" target="_blank">Signup to learn</button>
            <button class="button is-info is-light" formaction="{{ .Site.Params.mentorSignUp }}" target="_blank">Apply to be a mentor</button>
        </form>
    </section>
    {{ end }}

    <section class="section" id="events">
        <h3 class="subtitle is-3">Events</h3>
        {{ partial "event-feed.html" .}}
    </section>
{{ end }}