{{ define "main" }}
<section class="pretty-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <img class="brand-logo" src="/img/logos/ignite.svg" alt="schulich ignite logo">
            </div>
            <div class="col-md-9 col-lg-10">
                <div class="container logo-name">
                    <div class="row">
                        <div class="col">
                            <h1> <span>Schulich</span><span class="break"></span><span>Ignite</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col logo-subtitle">
                {{ .Params.tagline }}
            </div>
        </div>
        <div class="row">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
    </div>
</section>

<section class="section" id="dates">
    <div class="container">
        <div class="row">
            <h3>Sessions</h3>
        </div>
        {{ partial "sessions-feed.html" .}}
    </div>
</section>

{{ if .Site.Params.signup }}
<section class="section" id="signup">
    <div class="container">
        <div class="row">
            <h3>Signup</h3>
        </div>
        <div class="row">
            Click the links below to sing-up for the program, or apply to become a mentor.
        </div>
        <div class="row">
            <form>
                <button type="button" class="btn btn-primary" formaction="{{ .Site.Params.menteeSignup }}"
                    target="_blank">Sign up to learn</button>
                <button type="button" class="btn btn-secondary" formaction="{{ .Site.Params.mentorSignUp }}"
                    target="_blank">Apply to be a mentor</button>
            </form>
        </div>
    </div>
</section>
{{ end }}

{{ $events := (where .Site.Pages.ByDate "Type" "events") }}
{{ $numOfEvents := len $events }}
{{ if gt $numOfEvents 1}}
<section class="section" id="events">
    <div class="container">
        <div class="row">
            <h3>Events</h3>
        </div>
        {{ partial "event-feed.html" .}}
    </div>
</section>
{{end}}

{{ $news := (where .Site.Pages.ByDate "Type" "news") }}
{{ $numOfNews := len $news }}
{{ if gt $numOfNews 1}}
<section class="section" id="news">
    <div class="container">
        <div class="row">
            <h3>News</h3>
        </div>
        {{ partial "news-feed.html" .}}
    </div>
</section>
{{end}}

<section class="section" id="sponsors">
    <div class="container">
        <div class="row">
            <h3>Our Sponsors</h3>
        </div>
        {{ partial "sponsor-feed.html" .}}
    </div>
</section>
{{ end }}