

{{ define "main" }}
<section class="section single-item full-page">
    <div class="container">
        <div class="row">
            <div class="card">
                {{ if  .Params.image }}
                <img class="card-img-top" src="{{ .Params.image }}">
                {{ else }}
                <img class="card-img-top" src='{{ "/img/logos/ignite.svg" }}'>
                {{ end }}
                <div class="card-body">
                    <h5 class="card-title">{{ .Params.title }}</h5>
                    <p class="card-text">
                        <time>{{ .Params.date.Format "Monday, 01/02/2006 15:04 MST" }}</time>
                    </p>
                    <p class="card-text">{{ .Content }} </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}