<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>
        {{ .Site.Title }} </title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" integrity="sha256-aPeK/N8IHpHsvPBCf49iVKMdusfobKo2oxF8lRruWJg=" crossorigin="anonymous" />

    {{ partial "header.html" .}}

    <body>


    <h3 class="subtitle is-3">Get in touch</h3>
    <!--NOTE: use {{ .Site.Params.email }} for the contact email in formspree form-->
    <p>  Form goes here</p>


    </body>
</html>