{{ define "main" }}
{{ partial "diagonal-header.html" (dict "context" . "pageTitle" .Params.title ) }}
    <section class="section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>

    <section id="content" class="section centered-columns">
        <div class="container" id="section1">
            {{ with .Site.GetPage "Section" "mission" }}
                {{ with .GetPage "stats.md" }}
                    {{ .Content }}
                {{ end }}
            {{ end }}
        </div>
    </section>
{{ end }}